/* GENERAL STYLING */
body {
    margin: 0%;
}

h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: white;
}

h1:hover {
    color: rgb(163, 88, 163);
    transform: scale(1.05);
    transition: transform 1s, color 1s;
}

.white-text {
    color: #fff;
}

p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover {
    transition: color 1s;
    color: blue;
}

.center {
    text-align: center;
}

a {
    color: blue;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s, filter 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: white;
}
/* END OF GEN STYLING */

/* NAVBAR STYLING */
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

.Navbar a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}
/* END OF NAVBAR STYLING */

/* VID STYLING **/
@media screen and (max-width: 576px) {
    #starsvideo {
        display: none;
    }

    .Video_Text {
        color: black;
    }
}

#starsvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

.Video_Text {
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    position: relative;
    letter-spacing: 1px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#quote {
    font-size: xx-small;
}
/* END OF VID STYLING */

/* TABLE STYLING */
* {
    box-sizing: border-box;
}
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: white;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}
/* END OF TABLE STYLING */

/* CONTACT STYLING */
.Row h1 {
    color: black;
}
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

input[type=submit]:hover {
    color: rgb(206, 0, 171);
    transform: scale (1.5);
    transition: transform 1.5s, color 1s;
}

form {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-family: "Trebuchet MS", Optima;
}