.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: grayscale(100%);
    border: 2px solid purple;
    border-radius: 25px;
    text-align: center;
}

.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    text-align: center;

}

.table {
    border: 3px solid blue;
}

.table th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blueviolet;
}

.column {
    float: left;
    height: 200px;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    color: purple; 
}


.hoverp p {
    font-size: 200%;
}

.hoverp p:hover {
    color: red;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .vidcontainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .textcenter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }